html {
  font-family: 'Poppins', sans-serif;
}

html {
  background: #7D31FA;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  width: 90%;
  text-align: center;
  max-width: 900px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 36px;
  color: #7D31FA;
}

ul li {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

